.music-item {
  margin-top: 18px;
  margin-left: 12px;
  color: rgb(13, 13, 103);
  font-family: sans-serif;
  font-size: 14px;
}

.music-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 12px;
}
.music {
  display: flex;
  width: 50%;
  margin: auto;
  height: 60px;
  border: 0.4px solid rgb(238, 217, 217);
  border-radius: 6px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}
.buttons {
  height: 40px;
}
.audio-controls {
  height: 22px;
  margin-top: 16px;
  position: absolute;
  right: 12px;
}
.thumbs {
  display: flex;
}
.like-icon {
  color: gray;
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 6px;
  cursor: pointer;
}
.like-button {
  color: gray;
  margin-top: 16px;

  margin-right: 6px;
}
.like-button:disabled {
  opacity: 0.5;
}
