.header {
  display: flex;
  background-color: #350d36;
  height: 32px;
}

.header-left {
  color: white;
  width: 30%;
  text-align: right;
  margin-right: 8px;
  padding-top: 6px;
}

.header-center {
  width: 40%;
  color: white;
}

.input-field-header {
  background-color: rgb(67, 30, 68);
  width: 90%;
  height: 55%;
  font-size: 13px;
  margin-top: 2px;
  color: white;
  text-align: center;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid gray;
}

.header-right {
  color: white;
  padding-top: 6px;
  text-align: left;
  margin-left: 8px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 26px;
  padding-right: 12px;
}
