.green {
  background-color: green;
}
.red {
  background-color: red;
}
.btn.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.gray {
  background-color: gray;
}
.black {
  background-color: black;
}
.primary {
  height: 55px;
}
